src/Workspace2/passengercheckin/src/main/resources/Schemas/PNRCheckinResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/PNRCheckinResponse" xmlns:tns="http://www.example.org/PNRCheckinResponse" elementFormDefault="qualified">

    <element name="PNRCheckinResp" type="tns:PNRCheckinRespType"></element>
    
    <complexType name="PNRCheckinRespType">
    	<sequence>
    		<element name="PNRRecordLocator" type="string"></element>
    		<element name="Status" type="string"></element>
    	</sequence>
    </complexType>
</schema>